@media (max-width: 576px) {
    .container {
        width: 350px;
    }
    .images {
        height: 250px;
    }
    .album {
        width: 350px;
        height: 250px;
    }
    .images img {
        width: 350px;
        height: 250px;
    }
    .midle, .midle2, .section3 {
        height: 50vh;
    } 
}
